@font-face {
    font-family: 'Netflix Sans';
    font-weight: 100;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format('woff')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(27, 27, 27);
    color: white;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

nav {
    margin-bottom: 50px;
}

nav img {
    width: 120px;
}

.navLeft a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    white-space: nowrap;
    font-size: 0.8dvw;
}

.navRight a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    white-space: nowrap;

}

.dropdown-menu {
    background-color: rgba(5, 5, 5, 0.911);
    width: 15dvw;
    
}

.dropdown:hover .dropdown-menu {
    display: block;
    transform: translateX(-12dvw);
    
}

.dropdown-item:hover .dropdown-item > span {
color: black;
font-size: 10px;
}

.dropdown img {
    width: 2dvw;
}
.sfoglia {
    font-size: 20px;
    padding: 1px;
    background-color: transparent;
    border: 1px solid white;
}

.sfogliaMenu li a {
font-size: 15px;
}

.sfoglia:hover {
    color: black;
}

.dropdown-item{
    color: white;
    padding: 1dvh 1dvw;
}

.dropdown-item i {
    font-size: 1.5dvw;
}




.header-icon {
    height: 23px;
    width: 35px;
}

.header-icon:hover .header-icon i {
    color: red;
}




.swiper {
    position: relative;
    overflow: hidden; 
}

.swiper-slide {
    width: 280px !important;
    height: 250px;
    overflow: visible; 
    position: relative;
    transition: all 0.3s ease-in-out;
}



.swiper::after {
    top: 0;
    right: 0;
    
}

.movie-card {
    width: 280px;
    height: 250px;
    
}

.swiper-slide:hover {
    transform: scale(1.15);
    z-index: 10; 
    cursor: pointer;
}




.swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translate(-40%,-10%);
    color: white;
}

.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}



.hide-section{
    visibility: hidden;
}

.moveBody {
transform: translateX(100px);
overflow: hidden;
white-space: nowrap;
}


.sfoglia{
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 0;
    font-size: 15px;
    padding: 3px;

}


  
  .offcanvas-body img {
    height: 150px;
    width: 150px;
    transform: translateX(-200%); 
    transition: transform 0.5s ease-in-out;
  }
  
.offcanvas:hover .offcanvas-body img{
    transform: translateX(0);

}

.offcanvas a {
    
    text-decoration: none;
    color: white;
    font-weight: bolder;
    transition: all 0.2s ease-in-out;
}
#favTitle {
    font-size: 30px;
    font-weight: bold;
    color: yellow;
    
}

.offcanvas a:hover {
    text-shadow: 2px 2px 4px yellow;
    color: black;
    font-size: large;
    
    
}
section {
    transition: all 5s ease-in-out;
    z-index: 0;
}

.sectionToShow {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-in-out, transform 0.8s ease-in-out;
}

.sectionToShow.visible {
    opacity: 1;
    transform: translateY(0);
}
main {
    margin-bottom: 250px;
}

footer {
    height: 250px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:rgb(27, 27, 27) ;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Assicurati che il footer sia sopra il contenuto */
  }

  footer i {
    font-size: 25px;
  }

  footer li {
   font-size: 12px;
   font-weight: bold;
  }

.serviceCode a {
    border: 1px solid rgb(135, 135, 135);
    padding: 5px;
    text-decoration: none;
    font-size: 12px;
}

.copyright {
    font-size: 8px;
}
.copyright i {
    font-size: 10px;
}

.sfogliaMenu {
    font-size: 20px;
}

#inputContainer input {
    background-color: rgb(27, 27, 27);
    border: 1px solid grey;
    width: 100px;

}

@media only screen and (max-width: 760px) {
    #inputContainer input {
        transform: translate(80%, 100%);
    }
}
