@font-face {
    font-family: 'Netflix Sans';
    font-weight: 100;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format('woff')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(27, 27, 27);
    color: white;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

nav {
    margin-bottom: 50px;
}

nav img {
    width: 100px;
}

.navLeft a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    white-space: nowrap;
    font-size: 0.8dvw;
}

.navRight a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    white-space: nowrap;

}

.dropdown-menu {
    background-color: rgba(5, 5, 5, 0.911);
    width: 15dvw;
    
}

.dropdown:hover .dropdown-menu {
    display: block;
    transform: translateX(-12dvw);
    
}

.dropdown-item:hover .dropdown-item > span {
color: black;
}

.dropdown img {
    width: 2dvw;
}
.sfoglia {
    font-size: 2dvw;
    padding: 1px;
    background-color: transparent;
    border: 1px solid white;
}

.dropdown-item{
    color: white;
    padding: 1dvh 1dvw;
}

.dropdown-item i {
    font-size: 1.5dvw;
}
.dropdown-menu span {
    font-size: 0.8dvw;
}

@media only screen and (max-width: 760px) {
    .dropdown-menu {
        transform: scale(2);
    }
}

.header-icon {
    height: 23px;
    width: 35px;
}




.swiper {
    position: relative;
    overflow: hidden; 
}

.swiper-slide {
    width: 250px !important;
    overflow: visible; 
}

.movie-card {
    width: 250px;
    height: 200px;
    transition: all 0.3s ease-in-out;
    position: relative; 
}

.movie-card:hover {
    transform: scale(1.2);
    z-index: 10; 
    cursor: pointer;
}




.swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}



.hide-section{
    visibility: hidden;
}

.moveBody {
transform: translateX(100px);
overflow: hidden;
white-space: nowrap;
}


.sfoglia{
    background-color: black;
    color: white;
    border: 1px solid white;
    font-size: 15px;
    padding: 3px;

}

.offcanvas {
    width: 5dvw;
    
}

.offcanvas img {
    height: 150px;
    width: 150px;
}


.offcanvas a {
    text-shadow: 2px 2px 4px white;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}